@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

button{
    padding: 8px;
    margin: 5px;
    background-color:rgb(6, 217, 224);
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    transition: .15s ease-in-out;
    cursor: pointer;
}

button:focus{
    background-color: rgb(105, 238, 243);
    outline: 0 none;
}

button:hover{
    background-color: rgb(20, 237, 245);
}

.icon{
    cursor: pointer;
    transition: .22s ease-in-out;
}

.icon:hover{
    color: rgb(95, 95, 95);
}