.create-room h1,.create-room h3{
    text-align: center;
}

.create-room .input-container{
   margin: 10px;
}

.create-room .input-container > div{
    margin: 40px 0 40px 0;
 
 }

.create-room .btn-container{
    height: 100%;
    width: 100%;
}

.create-room .btn-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    margin-bottom: 10vh;
    min-height: 35vh;
}

.create-room .icon {
    position: absolute;
    left: 10px;
    top: 20px;
    height: 30px;
    width: 30px;
}