.join-room .icon {
    position: absolute;
    left: 10px;
    top: 20px;
    height: 30px;
    width: 30px;
}

.join-room h1{
    text-align: center;
}

.join-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.join-room input{
    height: 80px;
    max-width: 200px;
    width: 90%;
    font-size: 2em;
    text-align: center;
    transition: .42s ease-in-out;
    border: none;
    border-bottom: 1px solid rgb(0, 163, 141);
    outline: none;
}

.join-room input:focus{
    border-bottom: 4px solid rgb(0, 163, 141);
}

.join-room .button-container{
    margin: 20px;
    
}