
.landing{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.landing h1{
    text-align: center;
    font-size: 3em;
    margin: 20px;
}

.landing .btn-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    margin-bottom: 10vh;
}